@import url("htxtps://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.modal-overlay {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-content-body {
  box-shadow: 0 5px 10px 0 rgba(92, 92, 100, 0.25);
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2000;
  top: 0;
  left: 0;
  animation: zoomOut 0.6s ease-in-out;
  overflow: auto;
}

.modal-content-body .close-button {
  align-self: flex-end;
  background: transparent;
  border: none;
}


.table-wrapper {
  width: 0;
  min-width: 100%;
  overflow-x: auto;
}

.debt-table {
    border-collapse: collapse;
    border: 1px solid #dfddf6;
    margin-top: 20px;
  }
  
  .debt-table th {
    background-color: rgba(113, 82, 243, 0.05) !important;
    padding: 16px 8px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    color: #3d4c5e;
    border-radius: 4px 4px 0px 0px;
  }
  
  .debt-table td {
    /* border-bottom: 1px solid #dadada; */
    padding: 8px;
    font-size: 14px;
    line-height: 18px;
  }
  
  .debt-content-body {
    box-shadow: 0 5px 10px 0 rgba(92, 92, 100, 0.25);
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    position: absolute;
    top: -50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    width: fit-content;
    white-space: nowrap;
    /* margin-top: auto; */
    /* margin-right: 50px; */
    right: 0;
    /* margin-bottom: 50px; */
  }  

.debt-action-div {
  display: flex;
  flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #fff;
    padding: 0.5rem;
    float: right;
}

.debt-action-div > :nth-child(2),
.debt-action-div > :nth-child(3) {
  margin-top: 1rem;
}
.debt-action-div button {
  background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.fleet-overview-container {
  max-width: 550px;
  min-width: 550px;
  min-height: 80vh;
  max-height: 80vh;
  /* overflow-y: auto; */
}

.rider-overview-container button {
  outline: none;
  border: none;
}

.rider-detail-header {
  color: #0d0d0d;
  font-weight: 700;
  line-height: 24px;
}

.rider-number {
  color: #050505b2;
  font-size: 14px;
  line-height: 22px;
}

.rider-image {
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}

.rider-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rider-status {
  font-size: 14px;
  line-height: 22px;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 600;
}

.rider-earning {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.rider-earning-text {
  color: var(--Foundation-black-black-900, #050505);
  font-size: 20.364px;
  font-weight: 600;
  line-height: 32px;
}

.rider-earned-amount {
  /* color: rgba(5, 5, 5, 0.7); */
  font-size: 20.364px;
  line-height: 32px;
}

.rider-name {
  color: #050505;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rider-number {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.suspend {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.suspend button {
  display: flex;
  background: transparent;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid var(--grey-black-1, #cfcfcf);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.rider-information {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.rider-info {
  margin-top: 10px;
}

.rider-information button {
  background: transparent;
  color: #444266;
  border: none;
  outline: none;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 10px;
}


.rider-data {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.rider-information-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: #5f5e5e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.rider-information-container button{
  border: none;
  outline: none;
}
.information-heading {
  background: #f6f6f6;
  padding: 5px 0;
  color: #050505;
  font-size: 14px;
  line-height: 22px;
}

.ml-1 {
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .fleet-overview-container {
    max-width: 100%;
    min-width: 100%;
  }

  .rider-earning-text, .rider-earned-amount {
    font-size: 14px;
  }
}