  .rider-information-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: #5f5e5e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  
  .rider-information-container button{
    border: none;
    outline: none;
  }
  .information-heading {
    background: #f6f6f6;
    padding: 5px 0;
    color: #050505;
    font-size: 14px;
    line-height: 22px;
  }
  
  .ml-1 {
    margin-left: 10px;
  }